.container{
    padding: 50px;
    margin-bottom: 20px;
}

#animation{
    width: 200px;
    height: 100px;
    margin: 0 auto;
    background-color: aquamarine;
}

.actions{
    text-align: center;
}

/*  Grossissement   */

.grossissement{
    animation-name: grossissement;
    animation-duration: 1s;
}

@keyframes grossissement {
    50%{
        transform: scale(1.5, 1.5);
    }
    to{
        transform: none;
    }

}

/* Apparition */

.apparition{
    animation-name: apparition;
    animation-duration: 1s;
}

@keyframes apparition {
    from{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* Clignotement */

.clignotement{
    animation-name: clignotement;
    animation-duration: 1s;
}

@keyframes clignotement {
    from, 50%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}

/* Looping */

@keyframes looping {
    to{
        transform: rotate(360deg);
    }
}

.looping{
    animation-name: looping;
    animation-duration: 1s;
}

/* Secousse */

@keyframes secousse {
    10%, 30%, 50%, 70%, 90%{
        transform: rotate(10deg);
    }
    20%, 40%, 60%, 80%{
        transform: rotate(-10deg);
    }
}

.secousse{
    animation-name: secousse;
    animation-duration: 1s;
}

/* Glissement Gauche */
@keyframes glissementGauche {
    from{
        opacity: 0;
        transform: translate(-3000px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.glissementGauche{
    animation-name: glissementGauche;
    animation-duration: 1s;
}

/* Glissement Gauche rebond */
.glissementGaucheRebond{
    animation-name: glissementGaucheRebond;
    animation-duration: 1s;
}

@keyframes glissementGaucheRebond {
    from{
        opacity: 0;
        transform: translate(-3000px);
    }

    40%{
        transform: translate(100px);
    }

    55%{
        transform: translate(-75px);
    }

    70%{
        transform: translate(50px);
    }

    85%{
        transform: translate(-25px);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

/* Elastique horizontal */
@keyframes elastiqueHorizontal {
    50%{
        transform: scale(3, 0.5);
    }
    70%{
        transform: scale(0.5, 1.5);
    }
    80%{
        transform: scale(1.3, 0.7);
    }
    90%{
        transform: scale(0.7, 1.3);
    }
    to{
        transform: none;
    }
}

.elastiqueHorizontal{
    animation-name: elastiqueHorizontal;
    animation-duration: 1s;
}

/* Distortion */
@keyframes distortion {
    20%{
        transform: skewY(20deg);
    }
    40%{
        transform: skewY(-20deg);
    }
    60%{
        transform: skewY(20deg);
    }
    80%{
        transform: skewY(-20deg);
    }
    to{
        transform: none;
    }
}

.distortion{
    animation-name: distortion;
    animation-duration: 1s;
}